$container-width: 1170px;

// COLORS
$color-black: #0e1014;
$color-gray: #656566;
$color-white: #e4e5ea;
$color-blue: #4077f3;
$color-red: #961a1a;
$color-purple: #833ab4;

// GRADIENT
$gradient-main: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
